<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>To do List</title>
</head>
<body>
    
    <div id="app">

        <div class="new-task">
            <input type="text" placeholder="Nuova Task" v-model="newTask" @KeyUp.enter="addTask">
            <button @click="addTask">Aggiungi</button>
        </div>

        <div class="alert" style="color: red;" v-if="error">
            Inserisci una frase di almeno 5 caratteri!
        </div>

        <div class="tasks-container" v-if="tasks.length > 0">
            <ul>
                <li class="task" v-for="task in tasks" @click="deleteTask(i)">
                    {{task.text}}
                    <i class="fa-solid fa-xmark"></i>
                </li>
            </ul>
        </div>

        <h2 v-else="">Non ci sono elementi nella lista!</h2>
    

    </div>

    



    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="js/main.js"></script>
</body>
</html>